@font-face {
	font-family: Lato;
	src: url(fonts/Lato/Lato-Regular.ttf);
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Lato;
	overflow: hidden;
}

/* apt loading */
.apt-loading {
	position: fixed;
	background: #f0f9ff;
	background: -moz-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 71%, #e5e5e5 99%);
	background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 71%,#e5e5e5 99%);
	background: radial-gradient(ellipse at center, #f0f9ff 0%,#cbebff 71%,#e5e5e5 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#e5e5e5',GradientType=1 );
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 10;
}
.apt-loading:before {
	content: "";
	display: block;
	padding: calc(15% + 10px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	border-radius: 100%;
	border-top: 5px solid #e69826;
	border-right: 5px solid transparent;
	animation: apt-loading-top 2s linear infinite;
}
.apt-loading:after {
	content: "";
	display: block;
	padding: calc(15% + 10px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	border-radius: 100%;
	border-bottom: 5px solid #e69826;
	border-left: 5px solid transparent;
	animation: apt-loading-bottom 2s linear infinite reverse;
}
.apt-loading img {
	width: 15%;
	min-width: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
@keyframes apt-loading-top {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes apt-loading-bottom {
	0% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

/* Slick Track override */
.slick-list {
	overflow: visible !important;
}

/* slideshow wrapper */
.apt-slideshow-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* slideshow */
.apt-slideshow {
	position: relative;
	height: 100%;
	wdith: 100%;
	z-index: 0;
}
	.apt-slideshow .slick-list {
		height: 100%;
	}
		.apt-slideshow .slick-track {
			height: 100%;
		}
			.apt-slideshow .slick-slide {
				width: 100%;
				height: 100%;
			}
			.apt-slideshow .slick-slide:focus {
				outline: none;
			}
				.apt-slideshow .apt-slide-item {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center;
				}


/* nav line */
.apt-slidenav-line {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 50px;
	height: 70px;
	z-index: 1;
}
	.apt-slidenav-line .slick-list {
		height: 100%;
	}
		.apt-slidenav-line .slick-track {
			height: 100%;
		}
			.apt-slidenav-line .slick-slide {
				width: 100%;
				height: 100%;
				text-align: center;
				cursor: pointer;
				line-height: 70px;
			}
			.apt-slidenav-line .slick-slide:first-child {
				text-align: right;
			}
			.apt-slidenav-line .slick-slide:last-child {
				text-align: left;
			}
			.apt-slidenav-line .slick-slide::before, .apt-slidenav-line .slick-slide:after {
				content: "";
				display:inline-block;
				width: calc(50% - 21px);
				border-bottom: 1px solid white;
				vertical-align: middle;
			}
			.apt-slidenav-line .slick-slide:first-child:before {
				content: none;
			}
			.apt-slidenav-line .slick-slide:last-child:after {
				content: none;
			}
			.apt-slidenav-line .slick-slide:focus {
				outline: none;
			}
				.apt-slidenav-line .slick-slide .apt-line-icon {
					position: relative;
					display: inline-block;
					margin: 0 15px 0;
					width: 12px;
					height: 12px;
					background-color: white;
					border-radius: 100%;
					vertical-align: middle;
				}
				.apt-slidenav-line .slick-slide .apt-line-icon:before {
					content: "";
					position: absolute;
					width: 60px;
					height: 60px;
					border-radius: 100%;
					transition: all .3s cubic-bezier(.4,0,0,1);
					transition: all .3s cubic-bezier(.4,0,0,1);
					transition: all .3s cubic-bezier(.4,0,0,1),-webkit-transform .3s cubic-bezier(.4,0,0,1);
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) scale(0);
					border: 3px solid white;
					border-radius: 100%;
				}
				.apt-slidenav-line .slick-slide:hover .apt-line-icon:before {
					transform: translate(-50%, -50%) scale(1);
				}
				.apt-slidenav-line .slick-slide .apt-line-icon .apt-slide-title {
					font-size: 14px;
					line-height: 30px;
					position: absolute;
					display: inline-block;
					background-color: #000;
					color: white;
					width: auto;
					height: 30px;
					top: calc(-100% - 60px);
					left: 50%;
					transform: translate(-50%, 30px);
					opacity: 0;
					white-space: nowrap;
					padding: 0 1.3em;
					transition: all .3s cubic-bezier(.4,0,0,1);
					transition: all .3s cubic-bezier(.4,0,0,1);
					transition: all .3s cubic-bezier(.4,0,0,1),-webkit-transform .3s cubic-bezier(.4,0,0,1);
				}
				.apt-slidenav-line .slick-slide .apt-line-icon .apt-slide-title:before {
					content: "";
					position: absolute;
					height: 0px;
					width: 0px;
					border-bottom: 25px solid transparent;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 11px solid #000;
					left: 50%;
					top: 100%;
					transform: translateX(-50%);
				}				
				.apt-slidenav-line .slick-slide:not(.slick-current):hover .apt-line-icon .apt-slide-title {
					transform: translate(-50%, 0px);
					opacity: 0.5;
				}

/* nav button */
.apt-slide-button {
	display: block;
	background-color: #101010;
	width: 200px;
	height: 70px;
	border-radius: 100px;
	position: fixed;
	left: 50%; bottom: 50px; transform: translateX(-50%) scale(1);
	z-index: 2;
	transition: all .3s cubic-bezier(.4,0,0,1);
	transition: all .3s cubic-bezier(.4,0,0,1);
	transition: all .3s cubic-bezier(.4,0,0,1),-webkit-transform .3s cubic-bezier(.4,0,0,1);
}
.apt-slide-button:hover {
	transform: translateX(-50%) scale(1.2);
}

/* slide nav */
.apt-slidenav {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 50px;
	height: 70px;
	-webkit-mask: url(nav-mask.svg) center no-repeat;
	mask: url(nav-mask.svg) center no-repeat;
	z-index: 3;
	pointer-events: none;
}
	.apt-slidenav .slick-list {
		
	}
		.apt-slidenav .slick-track {
			
		}
			.apt-slidenav .slick-slide {
				
			}
			.apt-slidenav .slick-slide:focus {
				outline: none;
			}
				.apt-slidenav .apt-nav-item {
					text-align: center;
					line-height: 70px;
					font-size: 18px;
					color: #fff;
				}